html {
  width: 100%;
  height: 100%;
}

body {
  height: calc(100% - 48px);
  margin: 0px 4px 0px 4px;
  overflow: hidden;
}

.myheader {
  height: 42px;
  width: 100%;
  display: flex;
  align-items: center;
}

.my-right {
  margin-left: auto;
}

.splitter-H {
  width: 100%;
  height: 100%;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.splitter-V {
  /* width: calc(75% - 5px); */
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.separator {
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: center;

  /* prevent browser's built-in drag from interfering */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#separator-H {
  cursor: col-resize;
  flex: 0 0 5px;
  height: 100%;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='30'><path d='M1 0 L1 30 M4 0 L4 30' fill='none' stroke='gray'/></svg>");
}

#separator-V {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='5'><path d='M0 1 L30 1 M0 4 L30 4' fill='none' stroke='gray'/></svg>");

  cursor: row-resize;
  width: 100%;
  flex: 0 0 5px;
}

#treePane {
  padding: 5px;
  width: 25%;
  height: 100%;
  min-width: 20%;
  overflow: auto;
}

#swaggerPane {
  padding: 5px;
  width: 100%;
  height: 90%;
  min-width: 10px;
  min-height: 20%;
  overflow: auto;
}

#yangPane {
  padding: 5px;
  width: 100%;
  height: 10%;
  min-width: 10px;
  min-height: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.myTree {
  overflow: auto;
  border: 1px solid silver;
  min-height: 100px;
  height: 600px;
  resize: both;
}

select.selectpicker {
  display: block;
  margin: 0 auto;
  padding-left: 20px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.myhr {
  margin-top:0px;
  margin-bottom:0px;
  background-color: lightgray;
  border: 0 none;
  color: #eee;
  height: 2px;
}

#loadingMark {
  display: none;
  position: absolute;
  z-index: 100;
  margin-top: -10pt;
}

.tooltip-inner {
  max-width: 100% !important;
  background-color: #454545;
}
.tooltip.show p {
  text-align:left;
}

#targetDevice {
  width: 200px;
  border: 1px solid lightgray;
}